@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --primary-pink: #faebd7;
  --primary-background: #eeeeee;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary-background);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

h4,
h2 {
  margin: 0;
}

.home-childs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  cursor: pointer;
}

.project-childs {
  cursor: pointer;
}
#navbar {
  border-right: 1px solid rgb(197, 196, 196);
}

.add-svg:hover,
.add-svg:focus {
  cursor: pointer;
  opacity: 70%;
  transition: 0.1s ease-in;
}
.home-childs:hover,
.home-childs:focus,
.project-childs:hover,
.project-childs:focus {
  transform: translate3d(0, -0.125rem, 0);
  opacity: 72%;
  transition: 0.1s ease-in;
}

#header-content {
  background-color: var(--primary-pink);
  padding: 2.375rem;
}

section {
  margin: 0 auto;
  width: 80%;
}

main {
  margin-bottom: 1em;
}

.task-container {
  background-color: var(--primary-pink);
  border-radius: 7px;
  min-width: 300px;
}

#footer a:hover {
  opacity: 50%;
  transition: 0.1s ease-in-out;
}

footer {
  margin-top: auto;
}
.hidden {
  display: none;
}

.header,
.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-pink {
  background-color: var(--primary-pink);
}

.show {
  display: block;
}

@media (max-width: 48em) {
  .hamburger-menu {
    display: block;
    justify-self: end;
    cursor: pointer;
  }

  .hamburger-menu:hover {
    opacity: 52%;
    transition: 0.1s ease-in;
  }
  section {
    width: 100%;
  }
  .task-wrapper.flex-wrap {
    flex-wrap: nowrap;
    align-items: left;
    flex-direction: column;
  }
  .task-container {
    min-width: 80%;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    vertical-align: top;
  }
  .todowhat-logo {
    align-self: center;
  }
  .group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-custom {
    display: none;
  }
}
